* {
   margin: 0;
   padding: 0;
}

body {
   font-family: "Arial", sans-serif;
   font-size: 16px;
   line-height: 30px;
   color: #404040;
   background-color: #ffffff;
}

.page-header,
.page-footer {
   background-color: #000000;
}

.container {
   max-width: 780px;
   margin: 0 auto;
   padding-right: 10px;
   padding-left: 10px;
}

.wrapper {
   max-width: 1055px;
   margin: 0 auto;
}

.page-header {
   padding-top: 60px;
   padding-bottom: 145px;
   background-image: url("../images/wheat-back.jpg");
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: cover;
}

.webp .page-header {
   background-image: url("../images/wheat-back.webp");
}

.header-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 120px;
}

.news-w100 {
   display: flex;
}

.header-logo {
   width: 140px;
   height: 76px;
}

.header-logo img {
   width: 140px;
   height: 76px;
}

.main-nav {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 600px;
   min-height: 57px;
   margin-top: 10px;
   border-top: 1px solid rgba(255, 255, 255, 0.2);
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav li {
   margin-top: 14px;
   font-weight: bold;
   text-transform: uppercase;
   list-style: none;
}

.main-nav li:last-child {
   margin-right: 0px;
}

.main-nav a {
   color: #ffffff;
   text-decoration: none;
}

.promo {
   font-family: "Arial", sans-serif;
   font-size: 70px;
   line-height: 70px;
   font-weight: bold;
   color: #ffffff;
   text-align: center;
}

.product-list {
   padding-top: 80px;
   padding-bottom: 80px;
}

.product-list .container {
   max-width: 800px;
}

.section-title {
   margin-bottom: 75px;
   font-family: "Arial", sans-serif;
   font-weight: bold;
   font-size: 40px;
   line-height: 60px;
   color: #000000;
   text-transform: uppercase;
}

.product-title {
   padding-left: 34px;
   margin-bottom: 30px;
   font-family: "Arial", sans-serif;
   font-weight: bold;
   font-size: 40px;
   line-height: 60px;
   color: #000000;
   text-transform: uppercase;
}

.product-items {
   display: flex;
}

.product-item {
   position: relative;
   max-width: 398px;
   min-height: 759px;
   border-left: 1px solid #e5e5e5;
   border-right: 1px solid #e5e5e5;
}

.product-item:last-child {
   margin-left: -1px;
}

.to-left {
   position: absolute;
   width: 150px;
   top: 83px;
   right: 25px;
}

.product-table {
   width: 100%;
   border-collapse: collapse;
}

.product-table td {
   padding-left: 8.5px;
   font-family: "Arial", sans-serif;
   font-weight: bold;
   font-size: 16px;
   line-height: 41px;
   color: #000000;
   text-transform: uppercase;
   border: 1px solid #e5e5e5;
}

.product-item .product-info {
   margin-top: 10px;
   font-family: "Arial", sans-serif;
   font-size: 14px;
   line-height: 24px;
}

.product-list img {
   margin-left: 44px;
   max-width: 100%;
   height: auto;
}

.product-bottom {
   margin: 0 34px;
   margin-right: 25px;
}

.product-description {
   margin-bottom: 60px;
}

.btn {
   display: inline-block;
   padding: 8px 0;
   width: 142px;
   vertical-align: top;
   text-align: center;
   white-space: nowrap;
   font-weight: bold;
   text-transform: uppercase;
   color: #ffffff;
   text-decoration: none;
   border: 2px solid #834700;
}

.product-item .btn-info {
   color: #834700;
   background-color: #ffffff;
}

.product-item .btn-buy {
   margin-left: 3px;
   width: 104px;
   padding-right: 1px;
   color: #ffffff;
   background-color: #834700;
}

.product-list b {
   display: inline-block;
   padding: 10px 0;
   padding-left: 20px;
   height: 20px;
   color: #000000;
   font-weight: bold;
   text-transform: uppercase;
}

.kvast-features {
   background-color: #ffcb78;
   padding-top: 80px;
   padding-bottom: 100px;

   & ul {
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
      padding-left: 20px;
      list-style: none;
   }
}

.feature-item {
   position: relative;
   padding-top: 100px;
}

.feature-item::before {
   content: "";
   position: absolute;
   background: url("../images/spritesheet.png") no-repeat;
   top: 0;
   width: 65px;
   height: 68px;
}

.webp .feature-item::before {
   background: url("../images/spritesheet.webp") no-repeat;

}

.feature-item {
   max-width: 210px;
}

.feature-brew::before,
.webp .feature-brew::before {
   background-position: -5px -49px;
}

.feature-matreshka::before,
.webp .feature-matreshka::before {
   background-position: -5px -177px;
}

.feature-thumbsup::before,
.webp .feature-thumbsup::before {
   background-position: -5px -252px;
}

.kvast-reference {
   padding-top: 80px;
   min-height: 600px;
   padding-bottom: 50px;
}

.inside-title {
   font-weight: bold;
   font-size: 20px;
   color: #000000;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.reference-source {
   font-style: italic;
   font-weight: normal;
   color: inherit;
   text-transform: none;
   font-size: 16px;
}

.kvast-reference .section-title {
   margin-bottom: 60px;
}

.kvast-reference dt {
   position: relative;
   margin-top: 60px;
}

.kvast-reference i {
   position: absolute;
   top: 0;
   right: 0;
}

.kvast-reference a {
   color: #834700;
}

.kvast-reference dd {
   position: relative;
}

.kvast-reference p {
   max-width: 485px;
   min-height: 120px;
}

.kvast-reference img {
   position: absolute;
   top: 10px;
   right: 0;
   width: 200px;
   height: 101px;
}

.review-list {
   padding-top: 80px;
   min-height: 400px;
   background-color: #ede5d8;
   color: #404040;
}

.review-list blockquote {
   position: relative;
   min-height: 175px;
}

.quotes .quotes-flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.quotes::before {
   position: absolute;
   content: "";
   width: 165px;
   height: 170px;
   top: 0;
   left: -110px;
   background: url("../images/spritesheet.png") no-repeat;
   background-position: 0 -336px;
}

.webp .quotes::before {
   background: url("../images/spritesheet.webp") no-repeat;
   background-position: 0 -336px;
}

.review-list p {
   max-width: 690px;
   margin-bottom: 35px;
}

.review-list .inside-title {
   font-style: normal;
   margin-top: 10px;
}

.btn-continue {
   color: #d0c9bd;
   border-color: #a5a097;
   text-decoration: none;
   padding-left: 10px;
   padding-right: 12px;
}

.assortment-page {
   min-height: 463px;
   padding-top: 90px;
   padding-bottom: 90px;
}

.assortment-table {
   width: 100%;
   border-collapse: collapse;
}

.assortment-table td {
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   padding-top: 17px;
   padding-bottom: 17px;
   text-transform: uppercase;
   text-align: left;
}

.assortment-table th {
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   padding-top: 1px;
   padding-left: 1px;
   padding-bottom: 30px;
   font-size: 11px;
   font-weight: normal;
   text-transform: uppercase;
   color: #999999;
   text-align: left;
}

.assortment-table td:last-child {
   text-align: right;
}

.assortment-table th:last-child {
   text-align: right;
}

.assortment-name {
   position: relative;
   width: 402px;
   text-transform: uppercase;
   color: #000000;
   font-weight: bold;
}

.new-item {
   margin-left: 20px;
   margin-bottom: 1px;
   font-size: 8px;
   font-weight: bold;
   text-transform: uppercase;
   color: #ffffff;
   background-color: #000000;
   padding: 2px 5px;
   border-radius: 2px;
}

.assortment-table .capasity {
   width: 64px;
}

.assortment-table .alcohol {
   width: 91px;
}

.assortment-table .callories {
   width: 61px;
}

.order-list {
   min-height: 995px;
   padding-bottom: 110px;
   padding-top: 80px;
   background-color: #ffcb78;
}

.order-list p {
   max-width: 660px;
}

.order-form {
   max-width: 630px;
   margin-top: 70px;
   min-height: 710px;
}

.phone-left {
   max-width: 290px;
}

.phone-right {
   max-width: 290px;
}

.order-form-group {
   position: relative;
}

.order-form-group label {
   display: block;
   padding-bottom: 10px;
   padding-top: 25px;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   text-transform: uppercase;
   color: #000000;
}

.order-form-group label[for="name-field"] {
   padding-top: 0;
}

.foo {
   position: absolute;
   bottom: 10px;
}

.order-form-group input[type="text"],
.order-form-group textarea {
   background-color: rgba(0, 0, 0, 0.1);
   border: none;
   height: 50px;
   width: 100%;
}

.order-form-group textarea {
   height: 120px;
   resize: none;
}

.checkbox-group {
   margin-top: 31px;
}

.checkbox-group label {
   color: #000000;
   text-transform: uppercase;
   font-weight: bold;
}

.order-form input[type="checkbox"] {
   margin-right: 10px;
}

.order-list input[type="submit"] {
   margin-top: 39px;
   background-color: #834700;
   color: #ffffff;
   font-size: 16px;
   line-height: 20px;
   font-weight: bold;
   text-transform: uppercase;
   border: none;
   padding: 15px 22px;
}

.page-footer {
   padding-top: 60px;
   padding-right: 20px;
   padding-left: 20px;
   padding-bottom: 43px;
   min-height: 234px;
}

.footer-top {
   display: flex;
   justify-content: space-between;
}

.footer-logo {
   margin-left: 37px;
   width: 140px;
   height: 76px;
}

.footer-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   max-width: 600px;
   width: 100%;
   min-height: 57px;
   margin-top: 7px;
   border-top: 1px solid rgba(255, 255, 255, 0.2);
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-nav li {
   font-weight: bold;
   text-transform: uppercase;
   list-style: none;
}

.footer-nav li:last-child {
   margin-right: 0;
}

.footer-nav a {
   color: #ffffff;
   text-decoration: none;
}

.footer-bottom {
   display: flex;
   justify-content: space-between;
   margin-top: 47px;
}

.footer-bottom a {
   color: #ffffff;
   text-decoration: none;
}

.footer-bottom,
.footer-bottom a {
   font-size: 14px;
   line-height: 20px;
   color: #989898;
}

.social-btn a {
   display: inline-block;
   vertical-align: middle;
   text-align: center;
   font-size: 0px;
   width: 70px;
   height: 66px;
   border: 1px solid rgba(255, 203, 120, 0.1);
   margin-left: -5px;
}

.social-btn a:first-child {
   margin: 0;
}

.social-btn .btn-inst {
   background: #1b1b1b url("../images/icon-insta.png") no-repeat 50% 50%;
}

.social-btn .btn-fb {
   background: #1b1b1b url("../images/icon-fb.png") no-repeat 50% 50%;
}

.social-btn .btn-vk {
   background: #1b1b1b url("../images/icon-vk.png") no-repeat 50% 50%;
}

.webp .social-btn .btn-inst {
   background: #1b1b1b url("../images/icon-insta.webp") no-repeat 50% 50%;
}

.webp .social-btn .btn-fb {
   background: #1b1b1b url("../images/icon-fb.webp") no-repeat 50% 50%;
}

.webp .social-btn .btn-vk {
   background: #1b1b1b url("../images/icon-vk.webp") no-repeat 50% 50%;
}

.social-btn {
   width: 216px;
   height: 68px;
}

.footer-bottom p {
   margin-top: 12px;
   width: 200px;
   height: 40px;
}

.footer-copyright {

   width: 300px;
   height: 68px;
}

.footer-copyright {
   display: inline-block;
}

.footer-copyright img {
   margin-top: 5px;
   margin-right: 75px;
}

.footer-copyright::before {
   position: absolute;
   content: "";
   background: #1b1b1b url("../images/htmlacademy.png") no-repeat 50% 50%;
   width: 70px;
   height: 66px;
   border: 1px solid rgba(255, 203, 120, 0.1);
}

.webp .footer-copyright::before {
   background: #1b1b1b url("../images/htmlacademy.webp") no-repeat 50% 50%;
}

@media (max-width: 767px) {
   .main-nav {
      width: 500px;
   }

   .promo {
      font-size: 60px;
   }

   .product-list b {
      padding: 10px 0 10px 20px;
   }

   .news-w100 {
      position: relative;
      flex-wrap: wrap;
   }

   .product-list b {
      padding: 20px 0 10px 20px;
   }

   .product-list img {
      margin: 0;
   }

   .product-items {
      flex-wrap: wrap;
      justify-content: space-around;
   }

   .product-item:last-child {
      margin-top: 40px;
      margin-left: 0;
   }

   .kvast-features {

      & ul {
         align-items: center;
         justify-content: space-around;
         flex-wrap: wrap;
      }
   }

   .feature-item {
      max-width: none;
      width: 50%;
      margin-bottom: 20px;
      text-align: center;

      &::before {
         left: 50%;
         transform: translateX(-50%);
      }
   }

   .quotes::before {
      top: -40px;
      left: 0px;
   }

   .footer-bottom {
      flex-wrap: wrap;
   }

   .footer-copyright {
      flex-grow: 1;
      margin-top: 20px;
      width: 100%;
   }
}

@media (max-width: 726px) {
   .kvast-reference img {
      display: none;
   }
}

@media (max-width: 567px) {
   .header-top {
      flex-direction: column;
      margin-bottom: 60px;
   }

   .main-nav {
      text-align: center;
      max-width: 500px;
      width: 100%;
      border: none;

      & li {
         width: 50%;
      }
   }

   .promo {
      font-size: 50px;
   }

   .product-list .btn-info {
      flex-grow: 1;
      width: 100%;
   }

   .product-list .btn-buy {
      flex-grow: 1;
      margin-top: 10px;
      margin-left: 0;
   }

   .kvast-features {

      & ul {
         flex-direction: column;
      }
   }

   .feature-item {
      max-width: 210px;
      width: 100%;
   }

   .kvast-reference .inside-title {
      padding-bottom: 60px;
   }

   .kvast-reference .reference-source {
      top: auto;
      bottom: 0px;
   }

   .section-title {
      font-size: 36px;
   }

   .review-list {
      padding-bottom: 20px;
   }

   .quotes .quotes-flex {
      flex-direction: column;
      align-items: flex-start;
   }
   
   .assortment-table {
      font-size: 14px;

      & td {
         text-align: center;
      }
   }

   .assortment-name {
      width: auto;
   }

   .new-item {
      position: absolute;
      left: 0;
      bottom: 10px;
      padding: 0;
      font-size: 8px;
      line-height: 10px;
   }

   .footer-logo {
      margin-left: 0;
   }

   .footer-top {
      flex-direction: column;
      align-items: center;
   }

   .footer-nav {
      text-align: center;
      max-width: 500px;
      width: 100%;
      border: none;
      margin-top: 15px;

      & li {
         width: 50%;
      }
   }

   .footer-bottom {
      flex-direction: column;
      align-items: center;
   }

   .footer-copyright {
      flex-grow: 0;
      width: auto;
   }
}

@media (max-width: 374px) {
   .main-nav {
      & li {
         width: 100%;
      }
   }

   .footer-nav {
      & li {
         width: 100%;
      }
   }

   .promo {
      font-size: 34px;
   }

   .section-title {
      font-size: 26px;
      margin-bottom: 30px;
   }
}